body{
    height: 100%;
}

#loginBackgroundPage
{
    width: 100%;
}

#loginCenterPage
{
    margin: 10% auto;
    width:20%;
    border: thick whitesmoke solid;
    border-radius: 10px;
}
#myProfileCenterPage
{
    margin-left:35%;
    width:25%;
    border: thin whitesmoke solid;
    border-radius: 10px;
    margin-top: 5%
}
.error
{
    color:red;
    font-style: italic;
    margin:10%
}

#loginCenterPage table
{
    margin:10%;
}
#myProfileCenterPage table
{
    margin-left:15%;
    margin-right:15%;
    margin-top: 5%;
}

.loginInput
{
    width: 100%
}

.loginSubmit
{
    width:100%;
    background-color: transparent;
    color: whitesmoke;
}

#landingPageNavigation {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    overflow: hidden;
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    border: 1px solid darkgrey;
    border-radius:10px;
}

#landingPageNavigation li {
    float: left;
    list-style-image: inherit;
}

#landingPageNavigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#landingPageNavigation li a:hover:not(.active) {
    background-color: #111;
}

#landingPageNavigation li.floatRight{
    float:right;
}

#myProfileTableInformation
{
    margin-left:15%;
    margin-right:15%;
    margin-bottom: 5%;
    background-color:transparent;
    color:whitesmoke;
    width:70%;
}

#PortfolioCenterTable
{
    margin-left:25%;
    width:50%;
    border: thin whitesmoke solid;
    border-radius: 10px;
    margin-top: 5%;
}
#PortfolioCenterTable table tr td
{
    margin-left:20px;
}
#PortfolioCenterTable table
{
    margin-left:15%;
    margin-right: 15%;
}